.c {
  position: absolute;
  max-width: 500px;
  max-height: 500px;
  width: 300px;
  height: 500px;
  cursor: pointer;
  will-change: transform, opacity;
  border-radius: 10px;
}

.front,
.back {
  background-size: cover;
}

.back {
  background-image: url(../images/card1.jpg);
}

.front {
  background-image: url(../images/card2.jpg);
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}
