.rocket {
  background: url(../images/rocket.jpg) no-repeat;
  background-size: contain;
  width: 140px;
  height: 140px;
  cursor: -webkit-grab;
  will-change: transform;
  user-select: none;
}

.rocket:active {
  cursor: -webkit-grabbing;
}

.blink-and-zoom {
  
  animation: blink 1s infinite, zoom 1s infinite;
  color: rgb(186, 43, 43);
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  /* position: relative; */
  text-shadow: 0 0 10px rgba(37, 206, 43, 0.7), 0 0 20px rgba(37, 227, 75, 0.7), 0 0 30px rgba(40, 219, 34, 0.7), 0 0 40px rgba(29, 179, 99, 0.7);
  white-space: nowrap;  
  /* position: absolute;
  top: 50%;
  left: 50%; */
  transform: translate(-50%, -50%);
  text-align: center;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}

@keyframes zoom {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.2); }
}

.reset-button {
  display: block; /* Make the button a block element */
  margin: 0 auto; /* Center the button horizontally */
  right: 10px;
  background-color: white;
  border: 2px solid #000; /* Đường viền màu đen */
  border-radius: 5px; /* Các góc bo tròn */
  padding: 10px 20px; /* Khoảng cách bên trong nút */
  cursor: pointer; /* Con trỏ chuột khi hover vào nút */
  font-size: 16px; /* Kích thước chữ */
  font-weight: bold; /* Đậm chữ */
  color: #000; /* Màu chữ */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ */margin: 0 auto;
  transition: background-color 0.3s ease; /* Hiệu ứng chuyển màu nền */
}

.reset-button:hover {
  background-color: #f0f0f0; /* Nền xám nhạt khi hover */
}

/* styles.css */
@keyframes slideDownFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.instructions {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: rgb(135, 24, 24);
  background-color: #f0f8ff;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  animation: slideDownFadeIn 1s ease-in-out;
}

p {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: rgb(135, 24, 24);
  padding: 20px;
  margin: 20px;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  animation: slideDownFadeIn 1s ease-in-out;
}
